* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav{
    min-height: 60px;
    background-color: rgb(184, 184, 184);
    margin: 0 auto 20px;
    width: 800px; 
    align-items: center;
    justify-content: space-between;
    display: flex;
    /* padding: 10px; */
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px; 
    margin: 0 auto;
    padding: 10px;
}

.nav-container h1{
    color: rgb(3, 3, 3);
    font-size: 30px;
}

.login{
    width: 75px;
    background-color: rgb(67 194 255);
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: thin;
    height: 30px;
}

input{
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    border-width: thin;
    text-align: left;
    padding: 6px;
    width: 350px;
    margin-right: 100px;
}

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.left-column{
    background-color: white;
    min-height: 400px;
    flex: 2;
    /* margin-top: 20px; */
}

.right-column{
    background-color: white;
    min-height: 300px;
    flex: 1;
}

.ninja-card-one{
    background-color: white;
    min-height: 210px;
    display: flex;
    /* margin-bottom: 20px; */
    justify-content: space-around;
    align-items: center;
    border-style: solid;
}

.ninja-card-two{
    background-color: white;
    min-height: 210px;
    display: flex;
    /* margin-bottom: 20px; */
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
}

.card-one-left-content{
    /* margin-bottom: 20px; */
    /* width: 106px; */
    text-align: center;
}

.card-two-left-content{
    /* margin-bottom: 20px; */
    /* width: 106px; */
    text-align: center;
}

.ninja{
    padding-bottom: 10px;
}

h3, h4 {
    padding-bottom: 10px;
    /* text-align: center; */
}

.like-btn{
    width: 75px;
    background-color: yellow;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: thin;
    height: 30px;
}

.card-one-right-content{
    padding-right: 24%;
}

.card-two-right-content{
    padding-right: 24%;
}

p{
    font-size: 17px;
}

.ninja-card-two{
    background-color: white;
    min-height: 200px;
}

.defined{
    background-color: white;
    min-height: 150px;
    /* margin-bottom: 20px; */
    padding: 20px;
    border-style: solid;
}

.right-column-p-tag{
    font-size: 22px;
}

.add-definition-btn{
    margin-top: 25px;
    width: 100%;
    background-color: lime;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: thin;
    height: 40px;
}